In [3]:
# This program will take a given csv file and perform ETL changes

# The CSV file's columns are modified by deleted unneeded columns, changing the format of current columns, 
# and also creating new columns

# The user of the program will then have the option to convert the csv file into a JSON file or a SQL databse

# After converting the CSV file into the chosen format, the program will output a summary table with 
# the number of columns, rows, and what format the file is converted into

In [4]:
# Libraries needed to run program
import pandas as pd
import csv
import os
from tabulate import tabulate
import sqlite3

In [5]:
# Fetch/Download/Retrieve API or CSV file
data_location = os.path.join(os.getcwd(), '/Users/andrewholzwarth/Desktop/DS 2002')
data_file = os.path.join(data_location, 'Rooftop_Solar_Potential.csv')
Solar_file = pd.read_csv(data_file, header=0, index_col=0)

Solar_file.head()

,Address,TotalRoofArea,UsableRoofArea,PercentUsable,PotentialSystemSize,ProjectedAnnualKWH,ProjectedAnnualSavings,EntranceCorridor,HistoricallyProtected,Comments,created_user,created_date,last_edited_user,last_edited_date,ShapeSTArea,ShapeSTLength
OBJECTID,,,,,,,,,,,,,,,,
1,1154 5TH ST SW,3601.695039,1349.79306,37.476606,17.354482,20825.37864,2290.791650,Yes,,NaN,NaN,NaN,CITY,2020/12/08 18:58:32+00,3601.691406,250.048903
2,506+ MOSELEY DR,1429.990306,465.00048,32.517735,5.978578,7174.29312,789.172243,,,NaN,NaN,NaN,CITY,2020/12/08 18:58:32+00,1429.964844,158.985387
3,108 HARRIS RD,1478.147393,639.37566,43.255203,8.220544,9864.65304,1085.111834,,,NaN,NaN,NaN,CITY,2020/12/08 18:58:32+00,1478.140625,178.643650
4,113 AZALEA DR,1014.803238,477.91716,47.094564,6.144649,7373.57904,811.093694,,,NaN,NaN,NaN,CITY,2020/12/08 18:58:32+00,1014.785156,128.338415
5,2727 JEFFERSON PARK AVE,1136.309996,490.83384,43.195417,6.310721,7572.86496,833.015146,,,NaN,NaN,NaN,CITY,2020/12/08 18:58:32+00,1136.304688,143.798916

In [6]:
# Modify the data

# Add a column for Savings per Total Roof Area
Solar_file['Savings / TRA'] = Solar_file['ProjectedAnnualSavings'] / Solar_file['TotalRoofArea']
for each in Solar_file['Savings / TRA']:
    each1 = round(each,2)
    each2 = str(each1)
    each3 = "$"+each2+' /sqFT'
    Solar_file['Savings / TRA'].replace(each,each3,True)

# Delete Unnecessary Columns
del Solar_file['EntranceCorridor']
del Solar_file['Comments']
del Solar_file['created_user']
del Solar_file['created_date']
del Solar_file['last_edited_user']
del Solar_file['last_edited_date']
del Solar_file['ShapeSTArea']
del Solar_file['ShapeSTLength']
del Solar_file['HistoricallyProtected']
del Solar_file['PotentialSystemSize']

# Make Projected Annual Savings have two decimal places and a '$' to denote money
for each in Solar_file['ProjectedAnnualSavings']:
    each1 = round(each,2)
    each2 = str(each1)
    each3 = "$"+each2
    Solar_file['ProjectedAnnualSavings'].replace(each,each3,True)
    
#Make Percent Usable have 2 decimal places and a '%' sign
for each in Solar_file['PercentUsable']:
    each1 = round(each,2)
    each2 = str(each1)
    each3 = each2+'%'
    Solar_file['PercentUsable'].replace(each,each3,True)
    
#Make Projected KWH/YR more presentable
for each in Solar_file['ProjectedAnnualKWH']:
    each1 = round(each,2)
    Solar_file['ProjectedAnnualKWH'].replace(each,each1,True)

#Make Total Roof Area more presentable
for each in Solar_file['TotalRoofArea']:
    each1 = round(each,2)
    each2 = str(each1)
    each3 = each2+"sqFT"
    Solar_file['TotalRoofArea'].replace(each,each3,True)
    
#Make Usable Roof Area more presentable
for each in Solar_file['UsableRoofArea']:
    each1 = round(each,2)
    each2 = str(each1)
    each3 = each2+"sqFT"
    Solar_file['UsableRoofArea'].replace(each,each3,True)
    
Solar_file.head()

,Address,TotalRoofArea,UsableRoofArea,PercentUsable,ProjectedAnnualKWH,ProjectedAnnualSavings,Savings / TRA
OBJECTID,,,,,,,
1,1154 5TH ST SW,3601.7sqFT,1349.79sqFT,37.48%,20825.38,$2290.79,$0.64 /sqFT
2,506+ MOSELEY DR,1429.99sqFT,465.0sqFT,32.52%,7174.29,$789.17,$0.55 /sqFT
3,108 HARRIS RD,1478.15sqFT,639.38sqFT,43.26%,9864.65,$1085.11,$0.73 /sqFT
4,113 AZALEA DR,1014.8sqFT,477.92sqFT,47.09%,7373.58,$811.09,$0.8 /sqFT
5,2727 JEFFERSON PARK AVE,1136.31sqFT,490.83sqFT,43.2%,7572.86,$833.02,$0.73 /sqFT

In [7]:
# Input from user on how to output information (CSV to JSON or CSV to SQL database)
transform_path = input("Would you like to convert the csv file into a JSON file or a SQL database (Write 'JSON' or 'SQL')? ")

if transform_path == 'SQL':
    print('Convert to SQL Database')
elif transform_path == 'JSON':
    print('Convert to JSON')
else:
    raise Exception('Type JSON or SQL to continue')

Would you like to convert the csv file into a JSON file or a SQL database (Write 'JSON' or 'SQL')? SQL
Convert to SQL Database

In [8]:
# Convert CSV to JSON
if transform_path == 'JSON':
    
    json_format = Solar_file.to_json(orient = 'columns')
    
    # Write the file locally
    with open('Project1_to_JSON.json', 'w') as f:
        f.write(json_format)
    
    #Information for summary table
    JSON_transform = 'YES'
else:
    JSON_transform = 'NO'

In [9]:
# Convert CSV to SQL Database
if transform_path == 'SQL':

    #create the database
    conn = sqlite3.connect(r'/Users/andrewholzwarth/Desktop/DS 2002/Solar.db')
    cur = conn.cursor()
    
    # create the table
    cur.execute('''CREATE TABLE IF NOT EXISTS Solar_Information(
   userid INT PRIMARY KEY,
   Address TEXT,
   Total_Roof_Area TEXT,
   Usable_Roof_Area TEXT,
   Percent_of_Roof_Usable TEXT,
   Projected_Annual_KWH TEXT,
   Projected_Annual_Savings TEXT,
   Savings_TRA TEXT);''')
    conn.commit()
    
    #upload the csv to the table
    Solar_file.to_sql('Solar Information', conn, if_exists='append', index=False)
    
    #output data
    cur.fetchall()
    
    #Information for summary table
    SQL_transform = 'YES'
else:
    SQL_transform = 'NO'

In [10]:
# Generate Summary of data file after transformation (# of columns, # of rows) and what type of conversion was chosen

table = [['', 'Rooftop Solar Potential DF'], 
         ['# of Columns', len(Solar_file.columns)],
         ['# of Rows', len(Solar_file.index)],
         ['Converted to JSON?', JSON_transform],
         ['Converted to SQL?', SQL_transform]]

#print out the summary table
print(tabulate(table, headers='firstrow', tablefmt='fancy_grid', numalign='left'))

╒════════════════════╤══════════════════════════════╕
│                    │ Rooftop Solar Potential DF   │
╞════════════════════╪══════════════════════════════╡
│ # of Columns       │ 7                            │
├────────────────────┼──────────────────────────────┤
│ # of Rows          │ 12807                        │
├────────────────────┼──────────────────────────────┤
│ Converted to JSON? │ NO                           │
├────────────────────┼──────────────────────────────┤
│ Converted to SQL?  │ YES                          │
╘════════════════════╧══════════════════════════════╛